/* Estilizando a tabela e os titulos da head table */
table {
    border-spacing: 0;
    border: 0;
}

td {
    border: 0;
    padding: 0;
}

th {
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;;
    color: darkblue;    

    background: #e0f3fa; /* Old browsers */
    background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
    
}

/* Contem o slider de produtos */
#container {
    display: flex;
    width: 800px;
    height: 350px;
    overflow: hidden;
}

/* Contem o produto referencia */
#reference{
    display: flex;
    height: 350px;
    overflow: hidden;
}

/* A div que tem as setas pra direita e esquerda */
#arrows{
    display: flex;
    border-left: 1px solid grey;
}

/* Seta para a esquerda */
#left {
    display:flex;
    justify-content: space-between;
    align-self: center;
    width: 0; 
    height: 0; 
    border: none;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    outline: none;
    
    background-color: transparent;
    border-right:25px solid darkblue; 
    cursor: pointer;
  }

/* seta para a direita */
#right {
    align-self: center;
    width: 0; 
    height: 0; 
    border: none;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    outline: none;

    background-color: transparent;
    border-left: 25px solid darkblue; 
    cursor: pointer;
}

/* Div que engloba os produtos */
.product{
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 10px 5px;
    transition-duration: 1s;
    height: 350px;
}

.product:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#92c1e5+0,92c1e5+90,7db9e8+100&0.7+-1,0.7+11,0.7+19,0.7+24,0+100 */
    background: -moz-linear-gradient(top, rgba(146,193,229,0.7) -1%, rgba(146,193,229,0.7) 0%, rgba(146,193,229,0.7) 11%, rgba(146,193,229,0.7) 19%, rgba(146,193,229,0.7) 24%, rgba(146,193,229,0.09) 90%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(146,193,229,0.7) -1%,rgba(146,193,229,0.7) 0%,rgba(146,193,229,0.7) 11%,rgba(146,193,229,0.7) 19%,rgba(146,193,229,0.7) 24%,rgba(146,193,229,0.09) 90%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(146,193,229,0.7) -1%,rgba(146,193,229,0.7) 0%,rgba(146,193,229,0.7) 11%,rgba(146,193,229,0.7) 19%,rgba(146,193,229,0.7) 24%,rgba(146,193,229,0.09) 90%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b392c1e5', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
}

/* elementos dos produtos */
.name {
    margin-bottom: 10px;
    font-size: 13.5px;
}

.oldPrice {
    font-size: 13.5px;
    margin: 5px 0 0;
}

.price {
    color: #d12929;
    margin: 5px 0 0;
}

.big {
    font-weight: bold;
    font-size: 20px;
}

.payment {
    font-weight: bold;
}